.contenedorPrincipal{
    background-color: #CBD3CC;
    width: 60%;
    height: auto;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;   
    padding-bottom: 40px; 
}

.titulillo{
    background-color: #90C5F1;
    text-align: center;
    padding: 15px;
    margin: 0px;
    color:#5B5D5E;
}

.container{
    display: flex;
    padding: 15px;
    flex-wrap: wrap;
}
    .seleccion{
        margin-top: 0px;
        width: 50%;
    }
    .saldo{
        padding-left: 15px;
        width: 50%;
        text-align: center;
        color: #5B5D5E;
    }

/* menu de opcines */
.botones{
    text-align: center;
    padding: 10px;
}
    .botones button{
        margin: 5px;
        background-color: #2A96CD;
        color: white;
        border: none;
        border-radius: 30px;
        height: 45px;
        width: auto;
        font-weight:  bolder;
    }
    .botones button:hover{
        background-color: #37B9FC;
    }
    .botones button:focus{
        background-color: #37B9FC;
    }


/* movimientos */
.movimientos{
    text-align: center;
    width: 80%;
    margin: 10px;
    margin-top: 20px;
    background-color: green;
    margin-left: 10%;
    margin-right: 10%;
}

/* transferencias */
.transferencia{
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    background-color: indigo;
}

/* campo dinamico autogenerad mediante botones */
.campoDinamico{
    width: 70%;
    background-color: #ffffff;
    margin-left: 15%;
    margin-right: 15%;
    height: auto;
    /* height: 600px; */
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #2771C1;
    border-radius: 10px;

}