/*::-webkit-scrollbar {
  display: none;
}*/
*{
  overflow-x: hidden;
}
img{
  width: 1000px;
  height: auto;
}
.card-title{
  overflow: hidden;
}
#container-cards{
    width: 90%;
    margin: auto;
    /*background-color: rgb(180, 179, 179);*/
}
.cards{
    /*background-color: white;*/
    width: 1200%;
    max-width: 540px
}
.cardimpar{
    margin-left: auto; 
    margin-right: 0;    
}

.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #fff;
    transition: 0.5s;
  }
  
  .nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
    /*background-color: red;*/
  }
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }
  
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  }

  /*Filter*/
  .sidebar {
    width: 100vw;
    height: 100vh;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
 }
  .widget {
    padding: 0.75rem 1.25rem;
    /*width: 278px;*/
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 }
  .widget h2 {
    background-color: #f5f5f5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: -0.75rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    cursor: default;
 }
  .widget form label {
    width: 100%;
    text-align: center;
 }
  .widget:hover h2 {
    background-color: #ebebeb;
 }
 #user_age_handler_min, #user_age_handler_max {
  width: 3em;
  margin-left: -1.5em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
.user_age_max{
  margin-left: 10em;
}
.range_precio{
  width: 100%;
}
  
  /*Fin Filter*/
  

  /**/
  #container {
    /*width: 300px;*/
    width: 100%;
    /*background-color: #ffcc33;*/
    margin: auto;
}
#divcard {
    /*width: 100px;*/
    width: 60%;
    float: left;
    height: auto;
       /* background-color: blue;*/
}
#divimg {
    /*width: 200px;*/
    width: 40%;
    float: left;
    height: 400px;
    /*background-color: green;*/
}
#divimg div img{
  width: 315px;
  height: auto;
}
/**/

form  {
  margin: 60px 0 0 0 !important;
}

#preciorango{
  width: 200px;
  font-size: 11px;
}
.inputprecio {
  font-size: 12px !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 100px;
}

.ui-slider .ui-btn-inner {
  padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
  position: absolute !important;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 36px;
  padding-top: 14px;
  z-index: 100;
  opacity: 0.8;
}