/*::-webkit-scrollbar {
  display: none;
}*/
*{
  /*padding: 0px !important;*/
  /*margin: 0px !important;*/
  
}
h1{
  overflow-y: hidden;
}
#textNav{
  color: #191337 !important;
  text-decoration: none;
  font-weight: normal;
}
form input{
  margin-bottom: 1%;
}
*{
  overflow-x: hidden;
}
img{
  width: 1000px;
  height: auto;
}
.card-title{
  overflow: hidden;
}
#container-cards{
    width: 90%;
    margin: auto;
    /*background-color: rgb(180, 179, 179);*/
}
.cards{
    /*background-color: white;*/
    width: 1200%;
    max-width: 540px
}
.cardimpar{
    margin-left: auto; 
    margin-right: 0;    
}

.side-navbar {
    width: 180px;
    height: 100%;
    position: fixed;
    margin-left: -300px;
    background-color: #fff;
    transition: 0.5s;
  }
  
  /*.nav-link:active,
  .nav-link:focus,
  .nav-link:hover {
    background-color: #ffffff26;
    
  }*/
  
  .my-container {
    transition: 0.4s;
  }
  
  .active-nav {
    margin-left: 0;
  }
  
  /* for main section */
  .active-cont {
    margin-left: 180px;
  }
  
  #menu-btn {
    background-color: #100901;
    color: #fff;
    margin-left: -62px;
  }

  /*Filter*/
  .sidebar {
    /*width: 100vw;*/
    width: 300px;
    height: 100%;
    display: flex;
    /*margin-right: 1%;*/
    background-color: white;
    /*justify-content: center;
    align-items: center;*/
 }
  .widget {
    padding: 0.75rem 1.25rem;
    width: 275px;
    color: rgba(0, 0, 0, 0.87);
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
 }
  .widget h2 {
    background-color: #f5f5f5;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-top: -0.75rem;
    margin-left: -1.25rem;
    margin-right: -1.25rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    cursor: default;
 }
  .widget form label {
    width: 100%;
    text-align: center;
 }
  .widget:hover h2 {
    background-color: #ebebeb;
 }
 #user_age_handler_min, #user_age_handler_max {
  width: 3em;
  margin-left: -1.5em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}
.user_age_max{
  margin-left: 10em;
}
.range_precio{
  width: 100%;
}
#range-1a {
  display: none;
}
#range-1b {
  display: none;
}
  
  /*Fin Filter*/
  
#relleno{
  margin-top: 70px;
  /*margin-left: 5px !important;*/
  width: 900px;
  /*background-color: red;//////////////////////////////////////////////////////////////////////*/
  
}
@media screen and (max-width: 1485px) and (min-width:300px) {
  #relleno{
    /*margin-left: 3%;*/
    /*width: 80%;*/
  }
  .sidebar {
   /* width: 300px;
    height: 100vh;
    display: flex;
    margin-right: 10%;*/
 }
}
@media screen and (max-width: 992px) and (min-width:300px) {
  #relleno{
    /*margin-left: 3%;*/
    /*width: 80%;*/
  }
  .sidebar {
   width: 250px;
    
 }
}
/*cards*/
  #container {
    /*width: 540px;*/
    width: 100%;
    height: auto;
    /*background-color: #ffcc33;*/
    /*margin: auto; //////////////////////////////////////////////////////////////////////////*/
    
}
#divcard {
    /*width: 100px;*/
    width: 60%;
    float: left;
    height: auto;
       /* background-color: blue;*/
}
#divimg {
    /*width: 200px;*/
    width: 40%;
    float: left;
    height: 400px;
    /*background-color: green;*/
}
#divimg div img{
  width: 315px;
  height: auto;
}
#cardbody{
  width: 100%;
}
#cardimg{
  width: 315px;
  height: auto;
  display: none;
}

@media screen and (max-width: 1285px) and (min-width:300px) {
  #cardbody{
    width: 60%;
  }
  #cardimg{
    width: 170px;
    display: block;
  }
  #divimg {
    display: none;
  }
}
@media screen and (max-width: 830px) and (min-width:300px) {
  #sidebar{
    display: none;
  }
  #cardbody{
    width: 50%;
  }
  #relleno{
    margin-left: 20% !important;
  }
}
@media screen and (max-width: 760px) and (min-width:300px) {
  #relleno{
    margin-left: 10% !important;
  }
  #cardbody{
    width: 40%;
  }
}
/*cards*/

/*filtro rango precio*/
#preciorango{
  width: 340px;
  margin-left: -53px;
  font-size: 12px;
}
.inputprecio {
  font-size: 12px !important;
  padding: 0px !important;
  margin: 0px !important;
  width: 100px;
}

.ui-slider .ui-btn-inner {
  padding: 4px 0 0 0 !important;
}

.ui-slider-popup {
  position: absolute !important;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 36px;
  padding-top: 14px;
  z-index: 100;
  opacity: 0.8;
}
/*filtro rango precio*/

/*filtro rango precio 2*/
html, body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Lucida Grande, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  line-height: 1.6;
}
body {
  display: flex;
  justify-content: center;
  padding-top: 25%;
  max-width: 600px;
  margin: 0 auto;
}
.messages .message__type {
  color: #d6d6d6;
  margin-right: 1ch;
}
.messages p {
  margin-bottom: 0;
}
.results {
  display: flex;
  align-items: baseline;
  padding: 16px;
  border: 1px solid #d6d6d6;
  border-radius: 4px;
}
.results__title {
  flex: 0;
  margin-bottom: 0;
}
.results p {
  flex: 1;
  margin-bottom: 0;
}
.slider {
  position: relative;
  width: 100%;
  height: 8px;
  background-color: #eee;
  border-radius: 16px;
}
.slider__bar {
  display: flex;
  align-items: center;
  background-color: #090;
  position: absolute;
  top: 0;
  bottom: 0;
}
.slider__ball {
  position: absolute;
  display: block;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #090;
  transform: scale(1);
  transition: transform 100ms ease-in-out;
  cursor: pointer;
}
.slider__ball#min {
  left: calc(0% - 6px);
}
.slider__ball#max {
  right: calc(0% - 6px);
}
.slider__ball:hover {
  transform: scale(1.2);
}

/*filtro rango precio 2*/