
.container-fluid{
    display:grid;
    width:100%;
    grid-template-areas: "title  title   title"
                         "text1  image1 image1"
                         "image2 image2 text2"
                         "image3 text3  image4"
                         "text4  text4  image5";
    

}

.container_fluid > .titulo{
    grid-area: title;
}
.container > .texto1 {
    grid-area: text1;

}
.container > .img1 {
    grid-area: image1;
}
.container > .img2{
    grid-area: image2;
}
.container > .texto2{
    grid-area: text2;
}
.container > .img3 {
    grid-area: image3;
}
.container > .texto3  {
    grid-area: text3;
}
.container > .img4  {
    grid-area: image4;
}
.container > .texto4 {
    grid-area: text4;

}
.container > .img5 {
    grid-area: image5;
}