/*Fondo de la pagina*/
.fondo{
    width: auto;
    height: 635px;
    display: flex;

}

/*CSS de la imagen del fondo*/
.fondoImagen{
    margin: auto;
    height: 95%;
    width: 70%;
    background-image: url("../imagenes/fondoContacto.jpg");
}
/*Fin del CSS de la imagen del fondo*/
/*Fin del fondo*/

/*Formulario de la pagina*/
.formulario{
    height: 60%;
    width: 25%;
    background-color: white;
    border: 2px solid blue;
    border-radius: 5px;
    position: absolute;
    bottom:100px;
    left:55%;
    right:auto;

}

.formTitulo{
    margin-top: 1%;
}
/*Fin formulario*/

@media screen and (max-width:400px){

    .formulario{
        top: 55%;
        width: 100%;
        left: 0;
        height: 80%;
    }

    .fondoImagen{
        background-image: none;
    }

    #btnFormulario{
        margin-left: 150px;
        margin-top: 30px;
    }
}

@media screen and (max-width:900px){

    .formulario{
        top: 50%;
    }

}