.logo{
    height: 50px;
    width: 50px;
}

.logoWeb{
    width: 125px;
}

header{
    background-color: #D6D5D5;
}

#textNav{
    color: black;
}

#textNav:hover{
    text-decoration-line: underline;
    
}

#textNav:hover{
    color: rgb(0, 0, 0);
}