/*Seccion del logo + logo*/

.logo{
    height: 50px;
    width: 50px;
}

.logoWeb{
    width: 100px;
}
/*Fin seccion del logo + logo*/

/*Header */
header{
    background-color: #D6D5D5;
    width:100%;
}

#textNav{
    color: black;
}

#textNav:hover{
    text-decoration-line: underline;
    
}

#textNav:hover{
    color: rgb(0, 0, 0);
}

.f-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:auto;
    justify-content: center;
    justify-items: center;
}
.f-2{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:auto;
    justify-content: center;
    justify-items: center;
}
.f-2 .botones{
    padding-top:10px;
}
.f-1 form{
   padding-top:10px;
}
.botones{
    width:100%;
    text-align: right;
    padding-right:60px;
}
#logout,#banca,#administrador,#usuario{
	display:none;
}

#modalForm{
    opacity:0;
    padding-top:60px;
    width:100%;
    height:100%;

} 
#modalForm label{
color:black;
}
.modal-header{
    background-color: green;
}

@media screen and (max-width: 991px) and (min-width:300px) {

    .botones{
        text-align: left;
        padding-right:0px;
       
    }
}

#btnregistrarmodal{
    color: black;
}

#modalFormRegister{
    opacity:0;
    padding-top:60px;
    width:100%;
    height:100%;

} 

#modalFormRegister label{
    color:black;
    }


/*Fin header*/
/*Fin del header*/

