
.logo{
    height: 50px;
    width: 50px;
}

.logoWeb{
    width: 125px;
}

header{
    background-color: #D6D5D5;
}

#textNav{
    color: black;
}

#textNav:hover{
    text-decoration-line: underline;
    
}

#textNav:hover{
    color: rgb(0, 0, 0);
}
#divUser{
	display:none;
}
#logout{
	display:none;
}
.modal-header, h4, .close {
    background-color: #5cb85c;
    color:white !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-footer {
    background-color: #f9f9f9;
  }