/*DIV CENTRAL*/
.central{
    height: 800px;
    background-color: aqua;
}

/*CSS del fondo detras de los cards*/
.fondo{
	height: auto;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	justify-content: center;
}
/*Fin CSS detras cards*/

/*Los cards para mostrar y ocultar*/
.cardArriba{
	background-color: white;
	height: auto;
	width: auto;
}

.imagenCard{
	height: 250px;
	width: auto;
}

.imagenCard:hover{
    opacity: 0.4;
    filter: alpha(opacity=40);
    display: block;
}

.card-body{
	text-align: center;
    justify-content: center;
}

.texto{
    font-weight: bolder;
    font-size: 20px;
}
/*Fin cards para mostrar y ocultar*/


/*DIV con el fondo animado y el titulo*/
.divParallaxTexto{
    background-image: url("../imagenes/gifFondo.gif");
    min-height: 300px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.titulo{
    padding-top: 60px;
    font-size: 50px;
    font-weight: bolder;
}

.subtitulo{
    font-size: 20px;
}

/* media query para movil */
@media screen and (max-width: 500px) and (min-width:0px){
    .imagenCard{
        height: 200px;
        width: auto;
    }
}