/*El centro de la pagina*/
.central{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

/*Div donde va toda la informacion corta con la imagen*/
.divParallaxTexto{
    position: relative;
    height:auto;
    text-align:center;
    background-image: url("https://i.ytimg.com/vi/zavWwAovlCA/maxresdefault.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    vertical-align: bottom;
}

.divTexto{
    display: flex;
    flex-direction: column;
    height: 360px;
    width:500px;
    position:absolute;
    bottom: 0;
    right: 0;
    padding: 0;
    background-color:white;
}

.titulo{
    font-size: 15px;
    font-weight: bolder;
}

.relleno{
    padding: 20px;
    font-size: 13px;
    margin-top: 1.5%;
    text-align: left;
}
/*Fin del div*/

/*Zona de la informacion*/
.informacion{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1%;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    padding: 2%;
}

.imagen{
    height: 250px;
    width: auto;
}

#foto{
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    border: 2px black solid;
}

.texto{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px 0px 20px 0px;
    height: 200px;
    width: 70%;
    padding: 1%;
    background-color: rgb(195, 228, 230);
}

.nombre{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: black;
}

.tipo{
    text-align: center;
    font-size: 18px;
    color: black;
    margin-top: 0.5%;
    margin-bottom: 2%;
    text-decoration-line: underline;
}

.info{
    text-align: center;
    font-style: italic;
    color: grey;
}

.info:hover{
    text-decoration-line: underline;
}

.email{
    text-align: center;
    font-size: 18px;
    color: black;
}
.telefono{
    text-align: center;
    font-size: 18px;
    color: black;
}

.espacio{
    height: 100px;
}

.titulo2{
    margin-top: 1%;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
/*Fin de la zona de informacion*/
/*Fin del centro de la pagina*/

/* media Query para distintos dispositivos y tamaños de pantalla */
@media screen and (max-width: 1250px) and (min-width:0px){
    .imagen{
        height: 200px;
        width: auto;
    }
}

@media screen and (max-width: 900px) and (min-width:0px){
    .texto{
        width: 100%;
    }
}

@media screen and (max-width: 500px) and (min-width:0px){
    .informacion{
        width: 100%;
        margin-left: 0px;
    }
    .texto{
        width: 100%;
    }
    .imagen{
        height: 200px;
        width: auto;
    }
    .divTexto{
        width: 100%;
        justify-content: center;
        /* position: relative; */
    }
}