.central{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: violet;
    position: relative;
}


.divParallaxTexto{
    height:500px;
    text-align:center;
    /* The image used */
    background-image: url("https://i.ytimg.com/vi/zavWwAovlCA/maxresdefault.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.divTexto{
    display: flex;
    flex-direction: column;
    height: 300px;
    width:500px;
    position:relative;
    bottom: -40%;
    right: -60%;
    padding: 2%;
    background-color:white;
}

.titulo{
    font-size: 15px;
    font-weight: bolder;
}

.relleno{
    font-size: 13px;
    margin-top: 1.5%;
    text-align: left;
}

.informacion{
    display: flex;
    flex-direction: row;
    height: 1%;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    padding: 2%;
}

.imagen{
    height: 300px;
    width: 50%;
    background-color: chocolate;
}

#foto{
    height: 100%;
    width: 100%;
}

.texto{
    height: 200px;
    width: 100%;
    background-color: blueviolet;
}

.titulo2{
    margin-top: 1%;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
