/*El centro de la pagina*/
.central{
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

/*Div donde va toda la informacion corta con la imagen*/
/*Imagen parallax*/
.divParallaxTexto{
    height:500px;
    text-align:center;
    /* The image used */
    background-image: url("https://i.ytimg.com/vi/zavWwAovlCA/maxresdefault.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
/*Fin de imagen parallax*/


.divTexto{
    display: flex;
    flex-direction: column;
    height: 300px;
    width:500px;
    position:relative;
    /*margin-bottom: 8.8%;*/
    bottom: -40%;
    right: -60%;
    padding: 2%;
    background-color:white;
}

.titulo{
    font-size: 15px;
    font-weight: bolder;
}

.relleno{
    font-size: 13px;
    margin-top: 1.5%;
    text-align: left;
}
/*Fin del div*/

/*Zona de la informacion*/
.informacion{
    display: flex;
    flex-direction: row;
    height: 1%;
    width: 80%;
    margin-top: 2%;
    margin-left: 10%;
    padding: 2%;
}

.imagen{
    height: 300px;
    width: 50%;
    
}

#foto{
    height: 100%;
    width: 100%;
    border-radius: 20px 20px 20px 20px;
    border: 2px black solid;
}

.texto{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 20px 0px 20px 0px;
    height: 200px;
    width: 100%;
    padding: 1%;
    background-color: rgb(195, 228, 230);
}

.nombre{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    color: black;
}

.tipo{
    text-align: center;
    font-size: 18px;
    color: black;
    margin-top: 0.5%;
    margin-bottom: 2%;
    text-decoration-line: underline;
}

.info{
    text-align: center;
    font-style: italic;
    color: grey;
}

.info:hover{
    text-decoration-line: underline;
}

.email{
    text-align: center;
    font-size: 18px;
    color: black;
}
.telefono{
    text-align: center;
    font-size: 18px;
    color: black;
}

.espacio{
    height: 100px;
}

.titulo2{
    margin-top: 1%;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}
/*Fin de la zona de informacion*/
/*Fin del centro de la pagina*/